.bold {
    font-weight: 500;
}

.theme {
    display: flex;
    align-items: center;
    justify-content: center;
}

main a {
    padding: 19px 19px;
    display: inline-flex;
    width: 100%;
    min-height: 40px;
    min-width: 100px;
    user-select: none;
    flex-direction: column;
    justify-content: center;
    overflow-wrap: anywhere;
}

main a:hover {
    background: var(--background-hover);
    text-decoration: none;
}

main .info {
    color: #aaa;
    padding: 4px 0;
}