main {
    overflow: auto;
}

main > div {
    padding: 11.5px 19px;
}

main div {
    display: inline-flex;
    /* width: 100%; */
    min-width: 100px;
    user-select: none;
    flex-direction: column;
}

main div:hover {
    background: var(--background-hover);
}

.info,
.scores span {
    color: var(--disabled);
}

.info {
    margin-top: 4px;
}