@font-face {
    font-display: swap;
    font-family: Roboto;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
}

@media only screen and (min-width: 1301px) {
    main {
        margin: 0 15%;
    }
}

* {
    box-sizing: border-box;
    color: var(--color);
    font-family: Roboto, sans-serif;
}

:root {
    --background: #000;
    --background-hover: #141613;
    --color: #e3e3e3;
    --disabled: #9aa0a6;
    --green: #0f9d58;
    --header-color: #fff;
    --mismatched: #f4b400;
    --new: #0f9d58;
    --progress: #9aa0a6;
    --progress-found: #a6c6f7;
    --red: #db4437;
    --reset: #f6aea9;
    --r18: #db4437;
    --selected: #2d3e54;
    --selected-color: #fff;
    --selected-header: #a6c6f7;
    --selected-header-color: #000;
    --selected-header-hover: #7ca2ce;
    --selected-hover: #415062;
    --shadow: rgba(0, 0, 0, .3) 0 1px 2px 0, rgba(0, 0, 0, .15) 0 2px 6px 2px;
    --side: #1f1f1f;
    --side-hover: #353535;
    --status-completed: #e3e3e3;
    --status-dropped: #db4437;
    --status-paused: #f4b400;
    --status-planning: #9aa0a6;
    --status-rewatching: #4285f4;
    --status-skipping: #2d2d2d;
    --status-watching: #0f9d58;
}

html {
    height: 100vh;
    touch-action: manipulation;
}

body,
html {
    background: var(--side);
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    height: 100%;
    margin: 0;
    position: relative;
    user-select: none;
}

header,
main {
    background: var(--background);
}

header {
    align-items: center;
    display: flex;
    height: 50px;
    min-height: 50px;
    overflow: auto;
    padding: 0 19px;
    position: relative;
    white-space: nowrap;
    width: 100%;
    z-index: 1;
}

footer {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    min-height: 50px;
}

main {
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: calc(100% - 100px);
    position: relative;
}

/*
header,
main {
    box-shadow: var(--shadow);
}
*/

.separator {
    min-width: 19px;
    width: 19px;
}

.half-separator {
    min-width: 9.5px;
    width: 9.5px;
}

.flex-separator {
    min-width: 19px;
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

svg {
    fill: var(--color);
}

svg.disabled {
    fill: var(--disabled);
}

.header-title {
    color: var(--header-color);
    font-weight: 500;
}

input,
select {
    background: transparent;
}

input[type="number"],
input[type="text"] {
    outline: none;
}

noscript {
    align-items: center;
    background: var(--side);
    color: var(--disabled);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    min-width: 100px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
}

.loading {
    color: var(--disabled);
    white-space: nowrap;
}

.bold {
    font-weight: 500;
}

.el,
.lip,
.sis {
    color: inherit;
}

.el {
    animation: 1.5s 0.375s linear infinite el;
}

.lip {
    animation: 1.5s 0.375s linear infinite lip;
}

.sis {
    animation: 1.5s 0.375s linear infinite sis;
}

@keyframes el {
    0% {
        color: transparent;
    }

    24% {
        color: transparent;
    }

    25% {
        color: inherit;
    }

    100% {
        color: inherit;
    }
}

@keyframes lip {
    0% {
        color: transparent;
    }

    49% {
        color: transparent;
    }

    50% {
        color: inherit;
    }

    100% {
        color: inherit;
    }
}

@keyframes sis {
    0% {
        color: transparent;
    }

    74% {
        color: transparent;
    }

    75% {
        color: inherit;
    }

    100% {
        color: inherit;
    }
}