@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
}

body {
    --background: #000;
    --background-hover: #353535;
    --color: #fff;
    --disabled: #a7abb7;
    --selected: #4065ba;
    --selected-color: #fff;
    --selected-hover: #5a79c1;
    --shadow: #000;
}

* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: var(--color);
}

body,
html {
    overflow: hidden;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
    background: var(--background);
    user-select: none;
}

header,
main {
    background: var(--background);
}

header {
    height: 50px;
    width: 100%;
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 0 19px;
    overflow: auto;
    font-size: 14px;
}

main {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 14px;
}

.separator {
    width: 19px;
    min-width: 19px;
}

.half-separator {
    width: 9.5px;
    min-width: 9.5px;
}

.flex-separator {
    width: 100%;
    min-width: 19px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

svg {
    fill: var(--color);
}

svg.disabled {
    fill: #a7abb7;
}

.header-title {
    font-weight: 500;
}

input,
select {
    background: transparent;
}

input[type="number"],
input[type="text"] {
    outline: none;
}

noscript {
    height: 100%;
    width: 100%;
    background: var(--background);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    font-size: 14px;
}

@media only screen and (min-width: 1301px) {
    main {
        margin: 0 15%;
    }
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 100%;
}