.tabulator-cell[tabulator-field="alternative"],
.tabulator-cell[tabulator-field="episodes"],
.tabulator-cell[tabulator-field="progress"],
.tabulator-cell[tabulator-field="rewatched"],
.tabulator-cell[tabulator-field="season"],
.tabulator-cell[tabulator-field="status"],
.tabulator-cell[tabulator-field="type"] {
    user-select: text;
}

.database-container {
    max-height: calc(100% - 80px);
    white-space: nowrap;
    width: 100%;
}

.tabulator-tableholder {
    height: auto !important;
    max-height: 100%;
    outline: none;
    overflow: auto;
}

.top-container {
    align-items: center;
    display: none;
    padding: 0 19px;
    width: 100%;
}

.qualifiers > div,
.search-container {
    background: var(--background-hover);
}

.tabulator-cell {
    /*height: 100% !important;*/ /* resizes to normal when switching from mobile to desktop */
    position: relative;
}

.tabulator-cell[tabulator-field="alternative"] {
    height: 100% !important;
}

.tabulator-cell:not([tabulator-field="alternative"]) {
    min-height: 40px;
}

.hide .tabulator-cell:not([tabulator-field="alternative"]) {
    min-height: 30px;
}

.tabulator-col,
.tabulator-frozen {
    background: var(--background);
}

.tabulator-row:focus-within .tabulator-frozen,
.tabulator-row:hover .tabulator-frozen {
    background: var(--background-hover);
}

.tabulator-selected .tabulator-frozen {
    background: var(--selected);
}

.tabulator-selected:focus-within .tabulator-frozen,
.tabulator-selected:hover .tabulator-frozen {
    background: var(--selected-hover);
}

.hide2 .indicator {
    visibility: hidden;
}

[data-status="Completed"] [tabulator-field="color"] {
    background: var(--status-completed) !important;
}

[data-status="Rewatching"] .indicator,
[data-status="Rewatching"] [tabulator-field="color"] {
    background: var(--status-rewatching) !important;
}

[data-status="Planning"] [tabulator-field="color"] {
    background: var(--status-planning) !important;
}

[data-status="Skipping"] {
    opacity: 0.2;
}

[data-status="Skipping"] .indicator,
[data-status="Skipping"] [tabulator-field="color"] {
    background: var(--status-skipping) !important;
}

[data-status="Watching"] .indicator,
[data-status="Watching"] [tabulator-field="color"] {
    background: var(--status-watching) !important;
}

[data-status="Dropped"] .indicator,
[data-status="Dropped"] [tabulator-field="color"] {
    background: var(--status-dropped) !important;
}

[data-status="Paused"] .indicator,
[data-status="Paused"] [tabulator-field="color"] {
    background: var(--status-paused) !important;
}

.search {
    border: 0;
    min-width: 100px;
    outline: none;
    width: 100%;
}

.search::-webkit-search-cancel-button {
    display: none;
}

[tabulator-field="picture"] img {
    background: var(--background-hover);
    pointer-events: none;
}

.tabulator-cell[tabulator-field="picture"] svg,
.tabulator-cell[tabulator-field="picture2"] svg {
    display: none;
}

.tabulator-cell[tabulator-field="picture"] svg {
    position: absolute;
}

.hide .tabulator-row:not(.tabulator-selected) .blank svg,
.tabulator-selected .tabulator-cell[tabulator-field="picture"] .check,
.tabulator-selected .tabulator-cell[tabulator-field="picture2"] .check svg {
    display: block !important;
}

.tabulator-col[tabulator-field="ongoing"] .tabulator-col-title,
.tabulator-col[tabulator-field="picture"] .tabulator-col-title,
.tabulator-col[tabulator-field="picture2"] .tabulator-col-title,
.tabulator-col[tabulator-field="sources"] .tabulator-col-title {
    line-height: 0;
}

.tabulator-cell,
.tabulator-col,
.tabulator-header,
.tabulator-row {
    border: 0;
}

.tabulator-headers {
    display: inline-flex;
}

.hide .tabulator-row {
    min-height: 30px;
}

.tabulator-col-title {
    font-weight: 500;
}

.tabulator-col-title-holder {
    align-items: center;
    display: flex;
}

.tabulator-col:not([tabulator-field="alternative"]) .tabulator-col-title-holder {
    justify-content: center;
}

.tabulator-col-sorter svg {
    fill: var(--selected-header);
}

.tabulator-sortable[aria-sort="none"] .tabulator-col-sorter svg,
.tabulator-sortable[aria-sort="ascending"][data-sorted="sorted"] .tabulator-col-sorter svg {
    display: none;
}

.tabulator-sortable[aria-sort="ascending"] .tabulator-col-sorter svg {
    display: block;
}

.tabulator-sortable[aria-sort="descending"] .tabulator-col-sorter svg {
    display: block;
    transform: scaleY(-1);
}

.header-selected {
    background: var(--selected-header);
}

.header-selected span:not(.el):not(.lip):not(.sis) {
    color: var(--selected-header-color) !important;
}

.header-selected svg {
    fill: var(--selected-header-color) !important;
}

.header-selected a,
.header-selected .separator,
.header-selected .theme,
.header-selected .thumbnails {
    display: none !important;
}

.header-selected .close {
    display: inline-flex !important;
}

.tabulator-row:focus-within,
.tabulator-row:hover {
    background: var(--background-hover) !important;
    opacity: 1;
}

.tabulator-selected {
    background: var(--selected) !important;
}

.tabulator-selected *:not(.new):not(.r18):not(.title):not(select:disabled) {
    color: var(--selected-color) !important;
}

.tabulator-selected svg {
    fill: var(--selected-color) !important;
}

.tabulator-selected .tabulator-cell[tabulator-field="picture"] svg,
.tabulator-selected .tabulator-cell[tabulator-field="picture2"] svg {
    fill: var(--selected-header) !important;
}

.tabulator-selected:focus-within,
.tabulator-selected:hover {
    background: var(--selected-hover) !important;
}

.tabulator-col {
    align-items: center;
    height: 40px;
}

.tabulator-col-content {
    width: 100%;
}

#number:disabled {
    background: var(--background);
    color: var(--disabled);
    pointer-events: none;
}

.title {
    color: var(--disabled);
}

.searching {
    position: relative;
}

.nothing {
    align-items: center;
    display: flex;
    height: 40px;
    overflow: auto;
    padding: 0 38px;
    position: relative;
    white-space: nowrap;
}

.nothing .current,
.nothing .enter,
.return,
.seasonal .next,
.seasonal .previous {
    color: var(--selected-header);
    display: none;
    font-weight: 500;
}

.count-selected:hover,
.nothing .current:hover,
.nothing .enter:hover,
.relations:hover,
.return:hover,
.seasonal .next:hover,
.seasonal .previous:hover {
    cursor: pointer;
    text-decoration: underline;
}

header select {
    background: transparent;
    border: 0;
    border-bottom: 1px solid var(--selected-header-color);
    color: var(--selected-header-color);
}

header option {
    background: var(--selected-header);
    color: var(--selected-header-color);
}

header option:disabled {
    color: var(--disabled);
}

.tabulator-cell option {
    background: var(--background);
    color: var(--color);
}

.tabulator-selected input,
.tabulator-selected select {
    background: transparent;
    color: var(--selected-color);
}


.tabulator-selected option {
    background: var(--selected);
    color: var(--selected-color);
}

.tabulator-row:focus-within input,
.tabulator-row:focus-within select,
.tabulator-row:hover input,
.tabulator-row:hover select,
.tabulator-selected:focus-within input,
.tabulator-selected:focus-within select,
.tabulator-selected:hover input,
.tabulator-selected:hover select {
    background: transparent;
}

.tabulator-cell input,
.tabulator-cell select {
    border: 0;
    color: var(--color);
}

.tabulator-cell[tabulator-field="alternative"] {
    overflow-wrap: anywhere;
    padding: 4px 0;
    white-space: normal;
}

.tabulator-header {
    width: 100%;
}

.tabulator-col {
    display: inline-flex;
}

.tabulator-col-content {
    position: relative;
}

.tabulator-col[aria-sort="none"] .tabulator-col-title {
    margin-right: 0;
}

.tabulator-table {
    display: inline-block;
}

.tabulator-cell input {
    width: 50px;
}

.tabulator-row {
    align-items: center;
    display: flex;
    min-height: 40px;
}

.tab:not(:first-child),
.tabulator-row:not(:first-child) {
    margin-top: 1px;
}

select {
    font-size: 14px;
}

input {
    font-size: 14px;
    padding: 0;
}

.related-container,
.search-container {
    height: 40px;
    overflow: auto;
    padding: 0 19px;
}

.hide .tabulator-cell[tabulator-field="picture"] img {
    display: none;
}

.header-selected .header-title,
.selected-count {
    display: none;
}

.selected-count span:first-child {
    font-weight: 500;
}

.header-selected .selected-count {
    display: flex;
    flex-direction: column;
}

::placeholder {
    color: var(--disabled);
    opacity: 1;
}

[data-dead="true"] [tabulator-field="alternative"],
[data-dead="true"] [tabulator-field="episodes"],
[data-dead="true"] [tabulator-field="season"],
[data-dead="true"] [tabulator-field="type"] {
    text-decoration: line-through;
}

.error select:disabled,
.error .tabulator-col[tabulator-field="progress"] .tabulator-col-title,
.error .tabulator-col[tabulator-field="rewatched"] .tabulator-col-title,
.error .tabulator-col[tabulator-field="status"] .tabulator-col-title {
    color: var(--disabled) !important;
}

.error .menu svg {
    fill: var(--disabled);
}

.side {
    background: var(--side);
    /* box-shadow: var(--shadow); */
    display: none;
    flex-direction: column;
    font-size: 14px;
    height: 100%;
    position: absolute;
    width: 200px;
    z-index: 5;
}
/* 
.export:hover span,
.import:hover span,
.reset:hover span {
    color: var(--side) !important;
}

.export:hover,
.import:hover {
    background: var(--selected-header);
}

.reset:hover {
    background: var(--reset);
} */

.overlay,
.overlay2 {
    background: var(--background);
    display: none;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    width: 100%;
}

.overlay {
    z-index: 5;
}

.overlay2 {
    z-index: 4;
}

.tab {
    align-items: center;
    display: flex;
    height: 40px;
    padding: 0 19px 0 15px; 
}

.tab:hover {
    background: var(--side-hover);
}

.export2 {
    color: var(--selected-header);
    font-weight: 500;
}

/*
.export2:hover {
    color: var(--selected-header-hover);
}
*/

.side-title {
    color: var(--header-color);
    font-weight: 500;
}

.progress {
    background: var(--progress);
    height: 4px;
    width: 0;
}

.found {
    background: var(--progress-found) !important;
}

.relations,
.source {
    display: none;
}

.tabulator-row:focus-within .relations,
.tabulator-row:focus-within .source,
.tabulator-row:hover .relations,
.tabulator-row:hover .source {
    align-items: center;
    display: inline-flex;
}

.qualifiers {
    display: none;
    height: calc(100% - 109px);
    margin: 0 19px 19px 19px;
    position: absolute;
    top: 90px;
    width: calc(100% - 38px);
    z-index: 4;
}

@media only screen and (min-width: 1301px) {
    .qualifiers {
        margin: 0 calc(15% + 19px) 19px calc(15% + 19px);
        width: calc(70% - 38px);
    }
}

code,
code span {
    color: var(--selected-header);
    font-family: monospace;
}

td {
    padding: 11.5px 0;
    vertical-align: baseline;
}

td:nth-of-type(2) {
    padding-left: 19px;
}

tr {
    height: 40px;
}

.mono {
    font-family: monospace;
}

.mismatched svg,
[title="Mismatched"] svg {
    fill: var(--mismatched);
}

.tab span {
    color: var(--disabled);
}

.tab a:last-of-type {
    margin-right: auto;
}

.export,
.import,
.reset,
.toggle-progress,
.toggle-thumbnails {
    align-items: center;
    display: flex;
    height: 40px;
    padding: 0 19px;
}

.blur {
    background: var(--background);
    height: calc(100% - 40px);
    opacity: 0.4;
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 3;
}

/* fix incorrect behavior when scrolling */
.tabulator-frozen {
    position: sticky !important;
}

.tabulator-headers {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.tabulator-row {
    padding-left: 0 !important;
}

[tabulator-field="color"] {
    left: 0 !important;
}

.tabulator-frozen:nth-child(2) {
    left: 4px !important;
}

[tabulator-field="picture"] {
    left: 19px !important;
}

[tabulator-field="picture2"] {
    left: 19px !important;
}

.tabulator-frozen:nth-child(5) {
    left: 59px !important;
}

.hide .tabulator-frozen:nth-child(5) {
    left: 36px !important;
}

[tabulator-field="color"] {
    min-height: 30px;
}

.tabulator-header {
    margin-left: 0 !important;
    position: sticky;
    top: 0;
    z-index: 2;
}

.tabulator-frozen {
    z-index: 1;
}