.tabulator-cell[tabulator-field="alternative"],
.tabulator-cell[tabulator-field="episodes"],
.tabulator-cell[tabulator-field="progress"],
.tabulator-cell[tabulator-field="rewatched"],
.tabulator-cell[tabulator-field="season"],
.tabulator-cell[tabulator-field="status"],
.tabulator-cell[tabulator-field="type"] {
    user-select: text;
}

.database-container {
    max-height: calc(100% - 80px);
    white-space: nowrap;
    width: 100%;
}

.tabulator-tableholder {
    height: auto !important;
    max-height: 100%;
    outline: none;
    overflow: auto;
}

.top-container {
    align-items: center;
    display: none;
    width: 100%;
}

.tabulator-cell {
    /*height: 100% !important;*/ /* resizes to normal when switching from mobile to desktop */
    position: relative;
}

.tabulator-cell[tabulator-field="alternative"] {
    height: 100% !important;
}

.tabulator-cell:not([tabulator-field="alternative"]) {
    min-height: 40px;
}

.hide .tabulator-cell:not([tabulator-field="alternative"]) {
    min-height: 30px;
}

.tabulator-frozen {
    background: var(--background);
}

.tabulator-row:focus-within .tabulator-frozen,
.tabulator-row:hover .tabulator-frozen {
    background: var(--background-hover);
}

.tabulator-selected .tabulator-frozen {
    background: var(--selected);
}

.tabulator-selected:focus-within .tabulator-frozen,
.tabulator-selected:hover .tabulator-frozen {
    background: var(--selected-hover);
}

[data-status="Completed"] [tabulator-field="color"] {
    background: var(--status-completed) !important;
}

[data-status="Rewatching"] .indicator,
[data-status="Rewatching"] [tabulator-field="color"] {
    background: var(--status-rewatching) !important;
}

[data-status="Planning"] [tabulator-field="color"] {
    background: var(--status-planning) !important;
}

[data-status="Skipping"] {
    opacity: 0.2;
}

[data-status="Watching"] .indicator,
[data-status="Watching"] [tabulator-field="color"] {
    background: var(--status-watching) !important;
}

[data-status="Dropped"] .indicator,
[data-status="Dropped"] [tabulator-field="color"] {
    background: var(--status-dropped) !important;
}

[data-status="Paused"] .indicator,
[data-status="Paused"] [tabulator-field="color"] {
    background: var(--status-paused) !important;
}

.search {
    border: 0;
    min-width: 100px;
    outline: none;
    width: 100%;
}

[tabulator-field="picture"] img {
    background: var(--background-hover);
    pointer-events: none;
}

.tabulator-cell[tabulator-field="picture"] svg,
.tabulator-cell[tabulator-field="picture2"] svg {
    display: none;
    position: absolute;
}

.tabulator-selected .check {
    display: block !important;
}

.hide .tabulator-row:not(.tabulator-selected) .blank {
    display: block !important;
}

.tabulator-col[tabulator-field="ongoing"] .tabulator-col-title,
.tabulator-col[tabulator-field="picture"] .tabulator-col-title,
.tabulator-col[tabulator-field="picture2"] .tabulator-col-title,
.tabulator-col[tabulator-field="sources"] .tabulator-col-title {
    line-height: 0;
}

.tabulator-cell,
.tabulator-col,
.tabulator-header,
.tabulator-row {
    border: 0;
}

.tabulator-headers {
    display: inline-flex;
}

.hide .tabulator-row {
    min-height: 30px;
}

.tabulator-col-title {
    font-weight: 500;
}

.tabulator-col[aria-sort="none"] .tabulator-col-sorter svg {
    display: none;
}

.tabulator-col[aria-sort="asc"] .tabulator-col-sorter svg {
    display: block;
}

.tabulator-col[aria-sort="desc"] .tabulator-col-sorter svg {
    display: block;
    transform: scaleY(-1);
}

.header-selected {
    background: var(--selected-header);
}

.header-selected span {
    color: var(--selected-header-color) !important;
}

.header-selected svg {
    fill: var(--selected-header-color) !important;
}

.header-selected a,
.header-selected .separator,
.header-selected .theme,
.header-selected .thumbnails {
    display: none !important;
}

.header-selected .close {
    display: inline-flex !important;
}

.tabulator-row:focus-within,
.tabulator-row:hover {
    background: var(--background-hover) !important;
    opacity: 1;
}

.tabulator-selected {
    background: var(--selected) !important;
}

.tabulator-selected *:not(.new):not(.r18):not(.title):not(select:disabled) {
    color: var(--selected-color) !important;
}

.tabulator-selected svg {
    fill: var(--selected-color) !important;
}

.tabulator-selected .tabulator-cell[tabulator-field="picture"] svg,
.tabulator-selected .tabulator-cell[tabulator-field="picture2"] svg {
    fill: var(--selected-header) !important;
}

.tabulator-selected:focus-within,
.tabulator-selected:hover {
    background: var(--selected-hover) !important;
}

.tabulator-col {
    align-items: center;
    height: 40px;
}

.tabulator-col-content {
    width: 100%;
}

#number:disabled {
    background: var(--background);
    color: var(--disabled);
    pointer-events: none;
}

.title {
    color: var(--disabled);
}

.importing,
.loading,
.searching {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.loading {
    position: relative;
    height: 100%;
}

.importing,
.searching {
    flex-grow: 1;
    position: relative;
}

.nothing {
    align-items: center;
    display: flex;
    height: 40px;
    padding: 0 19px;
    position: relative;
    white-space: nowrap;
}

.nothing .enter {
    color: var(--selected-header);
    display: none;
    font-weight: 500;
}

header select {
    background: transparent;
    border: 0;
    color: var(--selected-header-color);
}

header option {
    background: var(--selected-header);
    color: var(--selected-header-color);
}

header option:disabled {
    color: var(--disabled);
}

.tabulator-cell option {
    background: var(--background);
    color: var(--color);
}

.tabulator-selected input,
.tabulator-selected select {
    background: transparent;
    color: var(--selected-color);
}


.tabulator-selected option {
    background: var(--selected);
    color: var(--selected-color);
}

.tabulator-row:focus-within input,
.tabulator-row:focus-within select,
.tabulator-row:hover input,
.tabulator-row:hover select,
.tabulator-selected:focus-within input,
.tabulator-selected:focus-within select,
.tabulator-selected:hover input,
.tabulator-selected:hover select {
    background: transparent;
}

.tabulator-cell input,
.tabulator-cell select {
    border: 0;
    color: var(--color);
}

.tabulator-cell[tabulator-field="alternative"] {
    overflow-wrap: anywhere;
    padding: 4px 0;
    white-space: normal;
}

.tabulator-header {
    width: 100%;
}

.tabulator-col {
    display: inline-flex;
}

.tabulator-col-sorter {
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.tabulator-col-content {
    position: relative;
}

.tabulator-col[aria-sort="none"] .tabulator-col-title {
    margin-right: 0;
}

.tabulator-table {
    display: inline-block;
}

.tabulator-cell input {
    width: 50px;
}

.tabulator-row {
    align-items: center;
    display: flex;
    min-height: 40px;
}

.tab:not(:first-child),
.tabulator-row:not(:first-child) {
    margin-top: 1px;
}

select {
    font-size: 14px;
}

input {
    font-size: 14px;
    padding: 0;
}

.related-container,
.search-container {
    height: 40px;
    overflow: auto;
    padding: 0 19px;
}

.hide .tabulator-cell[tabulator-field="picture"] img {
    display: none;
}

.header-selected .header-title,
.selected-count {
    display: none;
}

.selected-count span:first-child {
    font-weight: 500;
}

.header-selected .selected-count {
    display: flex;
    flex-direction: column;
}

::placeholder {
    color: var(--disabled);
    opacity: 1;
}

[data-dead="true"] [tabulator-field="alternative"],
[data-dead="true"] [tabulator-field="episodes"],
[data-dead="true"] [tabulator-field="season"],
[data-dead="true"] [tabulator-field="type"] {
    text-decoration: line-through;
}

.error select:disabled,
.error .tabulator-col[tabulator-field="progress"] .tabulator-col-title,
.error .tabulator-col[tabulator-field="rewatched"] .tabulator-col-title,
.error .tabulator-col[tabulator-field="status"] .tabulator-col-title {
    color: var(--disabled) !important;
}

.error .menu svg {
    fill: var(--disabled);
}

.side {
    background: var(--side);
    box-shadow: var(--shadow);
    display: none;
    flex-direction: column;
    font-size: 14px;
    height: 100%;
    position: absolute;
    width: 200px;
    z-index: 4;
}

.overlay {
    background: var(--background);
    display: none;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    z-index: 3;
}

.tab {
    align-items: center;
    display: flex;
    height: 40px;
    padding: 0 19px 0 15px; 
}

.export:hover,
.import:hover,
.reset:hover,
.tab:hover {
    background: var(--side-hover);
}

.export2 {
    background: var(--selected-header);
    color: var(--selected-header-color);
    display: inline-flex;
    font-weight: 500;
    margin-top: 11.5px;
    padding: 10.5px;
}

.export2:hover {
    background: var(--selected-header-hover);
}

.side-title {
    color: var(--header-color);
    font-weight: 500;
}

.progress {
    background: var(--progress);
    height: 4px;
    width: 0;
}

.found {
    background: var(--progress-found) !important;
}

.myanimelist,
.relations {
    display: none;
}

.tabulator-row:focus-within .myanimelist,
.tabulator-row:focus-within .relations,
.tabulator-row:hover .myanimelist,
.tabulator-row:hover .relations {
    align-items: center;
    display: inline-flex;
}

.qualifiers {
    background: var(--background);
    display: none;
    height: calc(100% - 80px);
    overflow: auto;
    padding: 19px;
    position: absolute;
    top: 80px;
    width: 100%;
    z-index: 3;
}

code {
    background: var(--background-hover);
    font-family: monospace;
    padding: 4px;
}

td {
    padding: 4px;
    vertical-align: baseline;
}

tr {
    height: 40px;
}

.mono {
    font-family: monospace;
}

[tabulator-field="alternative"] .tabulator-col-sorter {
    display: none;
}

.alt-sorted [tabulator-field="alternative"] .tabulator-col-sorter {
    display: block;
}

.mismatched svg,
[title="Mismatched"] svg {
    fill: var(--mismatched);
}

.tab span {
    color: var(--disabled);
}

.tab a:last-of-type {
    margin-right: auto;
}

.export,
.import,
.reset {
    align-items: center;
    display: flex;
    height: 40px;
    padding: 0 19px;
}

/* fix incorrect behavior when scrolling */
.tabulator-frozen {
    position: sticky !important;
}

.tabulator-headers {
    margin-left: 0 !important;
}

.tabulator-row {
    padding-left: 0 !important;
}

[tabulator-field="color"] {
    left: 0 !important;
}

.tabulator-frozen:nth-child(2) {
    left: 4px !important;
}

[tabulator-field="picture"] {
    left: 19px !important;
}

[tabulator-field="picture2"] {
    left: 19px !important;
}

.tabulator-frozen:nth-child(5) {
    left: 59px !important;
}

.hide .tabulator-frozen:nth-child(5) {
    left: 36px !important;
}

[tabulator-field="color"] {
    min-height: 30px;
}

.tabulator-header {
    margin-left: 0 !important;
    position: sticky;
    top: 0;
    z-index: 2
}

.tabulator-col {
    background: var(--background);
}

.tabulator-frozen {
    z-index: 1;
}