.selected {
    background: var(--selected);
}

/* .selected:focus-within, */
.choice > div:hover {
    background: var(--background-hover);
    opacity: 1;
}

.selected:hover {
    background: var(--selected-hover) !important;
}

.mono {
    color: inherit;
    font-family: monospace;
}

.choice > div[style] span,
.selected .title {
    color: var(--selected-color);
}

.choice > div[style] svg,
.selected svg {
    fill: var(--selected-color);
}

.choice > div {
    align-items: center;
    /* background: var(--background-hover); */
    display: flex;
    min-width: 300px;
}

/* .choice > div:focus-within, */
/* .choice > div:hover, */
.picture {
    background: var(--background-hover);
    opacity: 1;
}

option,
select {
    background: var(--background);
}

.menu,
.query {
    align-items: center;
    display: inline-flex;
    overflow: auto;
    padding: 0 38px;
    white-space: nowrap;
}

.settings-container {
    overflow: auto;
    padding: 0 38px;
    width: 100%;
}

.menu,
.query {
    height: 40px;
    min-height: 40px;
}

.menu,
.skip,
.submit {
    user-select: none;
}

.picture {
    height: 40px;
    min-height: 40px;
    min-width: 40px;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
    width: 40px;
}

.dim {
    opacity: 0.2;
}

.title {
    /* min-width: 100px; */
    overflow-wrap: anywhere;
    padding: 4px 0;
    user-select: text;
}

/* .query-container {
    min-width: 100px;
    overflow: auto;
    width: 100%;
} */

.choice {
    overflow: auto;
    padding: 11.5px 19px;
}

.source {
    align-items: center;
    display: inline-flex;
    margin: 0 17px;
    min-width: 17px;
    width: 17px;
}

.source a {
    align-items: center;
    display: inline-flex;
}

div:not(.dim) > .source a {
    opacity: 0.2;
}

/* .choice > div:focus-within .source a, */
.choice > div:hover .source a {
    opacity: 1;
}

select {
    border: 0;
    border-bottom: 1px solid var(--color);
}

.input,
.label {
    align-items: center;
    display: inline-flex;
    height: 40px;
    min-height: 40px;
    user-select: none;
    white-space: nowrap;
    width: 100%;
}

.input {
    justify-content: flex-end;
}

.choice > div:not(:first-child) {
    margin-top: 11.5px;
}

.reset-both,
.reset-high,
.reset-score,
.skip {
    color: var(--reset);
}

.submit {
    color: var(--selected-header);
}

.min,
.minus,
.plus {
    display: none;
}

.min {
    color: var(--disabled);
}

.minus {
    color: var(--red);
}

.plus {
    color: var(--green);
}

tr {
    height: 40px;
}

td:nth-of-type(1) {
    min-width: 190px;
    width: 190px;
}

td:nth-of-type(2) {
    min-width: 100px;
    padding-left: 19px;
    text-align: end
}

.tr {
    background: var(--background);
    position: sticky;
    top: 0;
}

.tr td {
    font-weight: 500;
}

.correct {
    background: var(--green);
}

.incorrect {
    background: var(--red);
}

.none {
    background: var(--selected);
}

.correct:hover {
    background: var(--green-hover) !important;
}

.incorrect:hover {
    background: var(--red-hover) !important;
}

.none:hover {
    background: var(--selected-hover) !important;
}