.selected {
    background: var(--selected) !important;
}

.selected:focus-within,
.selected:hover {
    background: var(--selected-hover) !important;
}

.mono {
    color: inherit;
    font-family: monospace;
}

.choice > div[style] span,
.selected .title {
    color: var(--selected-color);
}

.choice > div[style] svg,
.selected svg {
    fill: var(--selected-color);
}

.choice > div {
    align-items: center;
    /* background: var(--background-hover); */
    display: flex;
    min-width: 300px;
}

.choice > div:focus-within,
.choice > div:hover,
.picture {
    background: var(--background-hover);
    opacity: 1;
}

option,
select {
    background: var(--background);
}

.menu,
.query {
    align-items: center;
    display: none;
    overflow: auto;
    padding: 0 38px;
    white-space: nowrap;
}

.settings-container {
    overflow: auto;
    padding: 0 38px;
    width: 100%;
}

.menu,
.query {
    height: 40px;
    min-height: 40px;
}

.menu,
.reload,
.submit {
    user-select: none;
}

.picture {
    height: 40px;
    min-height: 40px;
    min-width: 40px;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
    width: 40px;
}

.dim {
    opacity: 0.2;
}

.title {
    /* min-width: 100px; */
    overflow-wrap: anywhere;
    padding: 4px 0;
    user-select: text;
}

.query-container {
    min-width: 100px;
    overflow: auto;
    width: 100%;
}

.choice {
    display: none;
    overflow: auto;
    padding: 11.5px 19px;
}

.source {
    align-items: center;
    display: inline-flex;
    margin: 0 17px;
    min-width: 17px;
    width: 17px;
}

.source a {
    display: none;
}

.choice > div:focus-within .source a,
.choice > div:hover .source a {
    align-items: center;
    display: inline-flex;
}

select {
    border: 0;
    border-bottom: 1px solid var(--color);
}

.input,
.label {
    align-items: center;
    display: inline-flex;
    height: 40px;
    min-height: 40px;
    user-select: none;
    white-space: nowrap;
    width: 100%;
}

.input {
    justify-content: flex-end;
}

.choice > div:not(:first-child) {
    margin-top: 11.5px;
}

.reset-high,
.reset-score {
    color: var(--reset);
}

.reload,
.submit {
    color: var(--selected-header);
}

.min,
.minus,
.plus {
    display: none;
}

.min {
    color: var(--disabled);
}

.minus {
    color: var(--red);
}

.plus {
    color: var(--green);
}