.selected {
    background: var(--selected);
}

.selected:focus-within,
.selected:hover {
    background: var(--selected-hover) !important;
}

.selected .title {
    color: var(--selected-color);
    user-select: text;
}

.bold {
    font-weight: 500;
}

.choice div[style] span {
    color: #fff;
}

.link {
    line-height: 0;
}

.choice div {
    align-items: center;
    display: flex;
    padding: 0 19px;
}

.choice div:focus-within,
.choice div:hover,
.picture {
    background: var(--background-hover);
    opacity: 1;
}

option,
select {
    background: var(--background);
}

.menu,
.query {
    align-items: center;
    display: none;
    overflow: auto;
    padding: 0 19px;
    white-space: nowrap;
}

.settings-container {
    overflow: auto;
    padding: 0 19px;
    width: 100%;
}

.menu,
.query {
    height: 40px;
    min-height: 40px;
}

.menu,
.submit {
    user-select: none;
}

.score {
    cursor: default;
}

.reload {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
    min-height: 40px;
    min-width: 40px;
    width: 40px;
}

.theme {
    align-items: center;
    display: flex;
    justify-content: center;
}

.picture {
    height: 40px;
    min-height: 40px;
    min-width: 40px;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
    width: 40px;
}

.dim {
    opacity: 0.2;
}

.title {
    /*min-width: 100px;*/
    overflow-wrap: anywhere;
    padding: 4px 0;
}

.query-container {
    min-width: 100px;
    overflow: auto;
    width: 100%;
}

.choice {
    display: none;
    overflow: auto;
}

.myanimelist {
    display: none;
}

.choice div:focus-within .myanimelist,
.choice div:hover .myanimelist {
    align-items: center;
    display: inline-flex;
}

.choice div {
    min-width: 300px;
}

select {
    border: 1px solid #fff;
}

.input,
.label {
    align-items: center;
    display: inline-flex;
    height: 40px;
    min-height: 40px;
    user-select: none;
    white-space: nowrap;
    width: 100%;
}

.input {
    justify-content: flex-end;
}

.choice > div:not(:first-child) {
    margin-top: 1px;
}