.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
}

.container div {
    overflow-wrap: anywhere;
    padding: 11.5px 19px;
    width: 250px;
}

.container .bold:not(:nth-of-type(1)) {
    margin-top: 17px;
}